.hash
{
    text-decoration: none;
}
.msg
{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
    font-family: var(--Gotu);
}
.success
{
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;

}
.error
{
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;

}